<div class="card">
  <h5 class="card-header">Guide</h5>
  <div class="card-body">
    <h5 class="card-title">How to report a violence: </h5>
    <p class="card-text">You need not create an account to report a problem</p>
    <p class="card-text">Go to <%= link_to 'report', new_report_path%> page. </p>
    <p class="card-text">Fill the form with the correct information.</p>
    <p class="card-text">Attach video or image evidences if available. Make sure they are submitted separately in their respective areas. </p>
	<p class="card-text">Submit the form and receive a confirmation mail. </p>
  </div>
</div>
