<div class="card mx-5">
  <div class="card-header ">
    <h4>Report a violence</h4>
  </div>
  <div class="card-body p-5  ">


<%= render 'form', report: @report %>

<% link_to 'Back', reports_path %>
</div>
</div>